/tmp/
/document2.synctex.gz
/document3.pdf
/document3.synctex.gz
/document.aux
/document.bbl
/document.blg
/document.log
/document.out
/document.synctex.gz
/document.toc
/sec-compl-software-trans-completeness.tex
/document.pdf
